body {
    font-family: 'Playfair Display', sans-serif;
    background-color: #FFFFFF;
    color: #1B1A17;
    font-size: 14px;
    max-width: 1366px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    margin: 0 auto;
}

.nav {
    font: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 3px 0;
}

.nav {
    font: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 3px 0;
}

.nav > li {
    margin-left: 15px;
    margin-right: 15px;
}

.nav > li > a {
    text-decoration: none;
    color: #555248;
}

.header {
    background-color: #FDFDFB;;
    padding-top: 2px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0 12px 0;
}

.logo {
    color: #555248;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 4px;
    padding-left: 97px;
}

.logo-image {
    display: block;
    width: 19.19px;
    height: 19.21px;
    background-image: url(../img/logo.svg);

}

.header-bottom {
    padding: 20px 0 27px 0;
}

.header-bottom .nav {
    font-size: 16px;
    margin: 0;
}

.header-bottom .nav > li {
    margin-left: 20px;
    margin-right: 20px;
}

.banner {
    background-image: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 203px;
    color: #fff;
    width: 1366px;
    height: 583px;
    padding-left: 97px;
}

.title {
    font: 'Playfair Display';
    color: #1B1A17;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 20px;
}

.title-h2 {
    font: 'Playfair Display';
    font-weight: 400;
    color: #1B1A17;
    font-size: 30px;
}

.banner p {
    font-style: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    color: #1B1A17;
    margin-bottom: 55px;
    max-width: 270px;
}

.btn {
    color: #FFFFFF;
    font-style: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    border: 2px solid #444240;
    background: #444240;
    padding: 9px 47px;
    width: 205px;
    height: 64px;
}

.btn:hover {
    background-color: #FFFFFF;
    color: #444240
}

.main-image {
    margin-left: -500px;
}

.bg-section-02 {
    background-color: ##E5E5E5;
    color: #1B1A17;
    padding: 33px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-section-item {
    flex: 0 0 55%;
}

.bg-section-02-img {
    flex: 0 0 31%;
    text-align: center;
}

.bg-section-02 h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 19px;
}


.catalog {
    padding-top: 61px;
    padding-bottom: 133px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 19px 30px;
}

.grid-item-title {
    grid-column: 1/4;
    grid-row: 1/2;
}

.grid-item-left {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: 80px;
}

.grid-item-right {
    grid-column: 3/5;
    grid-row: 3/4;
    margin-top: 80px;
}

.grid-item-catalog {
    text-align: center;
}

.grid-item-catalog .bg-white {
    padding: 25px 28px 34px 27px;
}

.bg-white {
    background-color: #fff;
    max-width: 1366px;
}

.thumb {
    margin-bottom: 14px;
}

.grid-title {
    line-height: 1.5;
    margin-bottom: 0;
}
.grid-price {
    font-size: 21px;
    font-weight: 500;
    margin-top: 14px;
    letter-spacing: 1px;
    margin-bottom: 21px;
}


.social {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

.social-item {
    margin-right: 15px;
}

.social-link {
    border: 2px solid #FFFFFF;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.social-twitter {
    background-image: url(../img/twitter_icon.svg);
}


.social-facebook {
    background-image: url(../img/facebook_icon.svg);
}

.social-instagram {
    background-image: url(../img/instagram_icon.svg);

}


.bg-section-02-right{
    display: flex;
}

.nav-flex-column {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
    text-decoration: none;
    font-style: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF 75%;
}



.footer-top {
    display: flex;
    list-style-type: none;
    background-color: #444240;
    max-width: 1366px;
}

.a {
    list-style-type: none;
    text-decoration: none;
    font-style: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF 75%;
}


.a1 {
    list-style-type: none;
    text-decoration: none;
    font-style: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF
}